.ourgalery-img {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.ourgalery-general {
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px
}
@media only screen and (max-width: 991px) {
    .ourgalery-general {
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .ourgalery-general {
        grid-template-columns:  1fr ;
    }
  }
.ourgalerygeneral {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 60px;
}


.ourgaleryhead {
    display: flex;
    justify-content: center;
}


.ourgalery-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    max-width: 250px;
    width: 100%;
    padding: 10px;
}

.ourgalerytext {
    font-size: 50px;
    font-family: cursive;
}

.ourgalery {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.line {
    max-width: 70px;
    width: 100%;
    height: 1px;
    background-color: gray;
}

.line-general {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon-rose {
    max-width: 60px;
    width: 100%;
}

.ourgalery-button {
    padding: 15px;
    background-color: white;
    border: 1px solid #FF8AB8;
    a{
    color: #FF8AB8;
    }
    cursor: pointer;
}
.ourgalery-button:hover{
    background-color: #FF8AB8;
    a{
        color: white;
    }
}
// section-category

.section-category-card4 {
    border-radius: 10px;
    max-width: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-image: linear-gradient(to top,
            rgba(56, 56, 56, 0.5),
            rgba(56, 56, 56, 0.5)),
        url("https://cdn.toyda.az/unsafe/600x300/smart/filters:strip_icc():strip_exif()/assets/host.webp");

    background-size: cover;
}
.section-category-card3 {
    max-width: 610px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-image: linear-gradient(to top,
            rgba(56, 56, 56, 0.5),
            rgba(56, 56, 56, 0.5)),
        url("https://cdn.toyda.az/unsafe/600x300/smart/filters:strip_icc():strip_exif()/assets/dj.webp");

    background-size: cover;
}

.section-category-card2 {
    max-width: 610px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-image: linear-gradient(to top,
            rgba(56, 56, 56, 0.5),
            rgba(56, 56, 56, 0.5)),
        url("https://cdn.toyda.az/unsafe/600x300/smart/filters:strip_icc():strip_exif()/assets/photography.webp");

    background-size: cover;
}

.section-category-card1 {
    max-width: 610px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-image: linear-gradient(to top,
            rgba(56, 56, 56, 0.5),
            rgba(56, 56, 56, 0.5)),
        url("https://cdn.toyda.az/unsafe/600x300/smart/filters:strip_icc():strip_exif()/assets/venue.webp");

    background-size: cover;
}


.section-category-card5 {
    max-width: 610px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-image: linear-gradient(to top,
            rgba(56, 56, 56, 0.5),
            rgba(56, 56, 56, 0.5)),
        url("https://cdn.toyda.az/unsafe/600x300/smart/filters:strip_icc():strip_exif()/assets/restaurant.webp");

    background-size: cover;
}



.section-category-card6 {
    max-width: 610px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-image: linear-gradient(to top,
            rgba(56, 56, 56, 0.5),
            rgba(56, 56, 56, 0.5)),
        url("https://cdn0.weddingwire.com/vendor/570500/3_2/960/jpeg/fullsizeoutput-6dc2_51_5075-161885122214270.jpeg");

    background-size: cover;
}



// 
.section-category-card7 {
    max-width: 290px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-image: linear-gradient(to top,
            rgba(56, 56, 56, 0.5),
            rgba(56, 56, 56, 0.5)),
        url("https://cdn.toyda.az/unsafe/400x400/smart/filters:strip_icc():strip_exif()/assets/music_band.webp");

    background-size: cover;
}

.section-category-card8 {
    max-width: 290px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-image: linear-gradient(to top,
            rgba(56, 56, 56, 0.5),
            rgba(56, 56, 56, 0.5)),
        url("https://cdn.toyda.az/unsafe/800x800/smart/filters:strip_icc():strip_exif()/assets/768a911b-ff0b-4842-8591-633ac1459e03-bonjour%20toy1.jpeg");

    background-size: cover;
}

.section-category-card9 {
    max-width: 290px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-position: center;
    background-image: linear-gradient(to top,
            rgba(56, 56, 56, 0.5),
            rgba(56, 56, 56, 0.5)),
        url("https://cdn.toyda.az/unsafe/400x400/smart/filters:strip_icc():strip_exif()/assets/flowers.webp");

    background-size: cover;
}


.section-category-card10 {
    max-width: 290px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-position: center;
    background-image: linear-gradient(to top,
            rgba(56, 56, 56, 0.5),
            rgba(56, 56, 56, 0.5)),
        url("https://cdn.toyda.az/unsafe/400x400/smart/filters:strip_icc():strip_exif()/assets/wedding_cake.webp");

    background-size: cover;
}





.category-text-item{
    font-size: 38px;
    color: white;
    font-weight: 600;
}

.category-text-small-item{
    font-size: 25px;
    color: white;
    font-weight: 600;
}
.all{
    font-size: 20px;
    color: rgb(115, 115, 115);
}
.all:hover{
    color: rgb(0, 0, 0);
}
.section-category-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-content: center;
    place-items: center;
    gap: 20px;
}
@media only screen and (max-width: 991px) {
    .section-category-cards {
        grid-template-columns: 1fr ;
   
    }
  }
.section-category-small-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-content: center;
    place-items: center;
    gap: 9px;
    padding-top: 20px;
}

@media only screen and (max-width: 991px) {
    .section-category-small-cards{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
  }
  @media only screen and (max-width: 768px) {
    .section-category-small-cards {
        grid-template-columns: 1fr;
     
    }
  }
.section-category-head {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.section-category-img {
    border-radius: 10px;
}

.section-category {
    border-bottom: 1px solid gray;
    padding-bottom: 50px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


// bride & groom
.bridegroom-general{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.bridegroom-img {
    max-width: 250px;
    width: 100%;
    border-radius: 50%;
}

.bride-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    max-width: 515px;
    width: 100%;
    padding: 15px;
    gap: 18px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 20px;
}

.groom-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    max-width: 515px;
    width: 100%;
    padding: 15px;
    gap: 18px;
    border-radius: 20px;
    border: 1px solid rgb(209, 209, 209);
}


.groom-bride-head{
font-size: 23px;
font-weight: 600;
}
.groom-bride-text{
    font-size: 17px;
    color: gray;
    text-align: center;
    font-weight: 600;
    }
.bridegroom-cards {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   place-content: center;
   place-content: center;
   margin: auto;
    gap: 50px;
    margin-top: 35px;
    padding-bottom: 25px;
    padding: 20px;
}

.bridegroom-head {
    font-size: 60px;
    color: rgb(238, 122, 121);
    font-family: cursive;
}

@media only screen and (max-width: 991px) {
    .bridegroom-cards {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      
     }
  }
  @media only screen and (max-width: 991px) {
    .bridegroom-head {
        font-size: 50px;
    }
  }
  @media only screen and (max-width: 576px) {
    .bridegroom-head {
        font-size: 30px;
    }
  }







.bridegroom-head-area {
    display: flex;
    max-width: 500px;
    width: 100% ;
    justify-content: center;
    align-items: center;
    margin: auto;
}


// ourstory
.ourstory {
    background-image: url('https://preview.colorlib.com/theme/wedding2/images/Background_Circle.png.webp');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.ourstory-general {
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ourstory-text {
    max-width: 820px;
    width: 100%;
    font-size: 19px;
    color: rgb(84, 84, 84)
}

.ourstory-head {
    font-size: 4rem;
    font-family: cursive;
}


.video{
    width: 100%;
}